--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit

  p: :markdown
    Send use your visualisation!
  - var last = getCollection('posts').toJSON( ).slice(0, 1)[0]
  != last.contentRenderedWithoutLayouts


// Example row of columns.
.row
  - var posts = getCollection('posts').toJSON( ).slice(1, 6)
  each doc in posts
    .span6
      h2
        a(href=doc.url)= doc.title
      unless doc.preview
        pre= doc.preview


.row
  .span8

    ul
      each doc in getCollection('posts').toJSON( )
        unless doc.url.indexOf('/posts') != 0
          li
              a(href=doc.url)
                = doc.title
      else
        li no posts
