--- yaml
layout: 'default'
pageOrder: 3
title: 'Home'
scripts:
  - http://diabetesvisualization.t1dtechnology.info/wp-content/themes/portfolio-press/js/theme.js
---

// Main hero unit for a primary marketing message or call to action.
.full-width#portfolio



  - var posts = getCollection('posts').toJSON( ).slice(0, 6)
  - var default_thumb = 'https://upload.wikimedia.org/wikipedia/commons/0/0d/InsulinHexamer.jpg'
  each doc in posts
    .portfolio-item
      a.thumb(href=doc.url, style='opacity: 1;')
        img(src=(doc.thumbnail_url || default_thumb), width=314, height=224, scale=0)
      a.title-overlay(href=doc.url, rel="bookmark", style='opacity: 0;')
        =doc.title


.row
  .span8

    ul
      each doc in getCollection('posts').toJSON( )
        unless doc.url.indexOf('/posts') != 0
          li
              a(href=doc.url)
                = doc.title
      else
        li no posts
