--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit

  p: :markdown
    Send use your visualisation!
  - var last = getCollection('posts').toJSON( )
  != last.contentRenderedWithoutLayouts


// Example row of columns.
.row
  .span6
    h2 Docpad
    p DocPad takes that good ol' simple approach of writing files and wraps it with the best modern innovations, providing an awesome intuitive, liberating and empowering solution for HTML5 web development.</p>
    p: a.btn(href="https://github.com/bevry/docpad") Visit Website
  .span6
    h2 Twitter Bootstrap
    p Bootstrap is a toolkit from Twitter designed to kickstart development of webapps and sites. It includes base CSS and HTML for typography, forms, buttons, tables, grids, navigation, and more.</p>
    p: a.btn(href="http://twitter.github.com/bootstrap/") Visit Website


.row
  .span8

    ul
      each doc in getCollection('posts').toJSON( )
        unless doc.url.indexOf('/posts') != 0
          li
              a(href=doc.url)
                = doc.title
      else
        li no posts
